@media (max-width: 511px) { 
    #welcome{
        font-size: 48px;
    }
    #titulo{
        font-size: 2.8em;
    }
    .precio-menu{
    margin-left: 292px;
    font-size: 11px;
    }
    .titulo-menu{
        font-size: 11px;
    }
    .staff__person{
        margin-left: 55px;
        padding-right: 25px;
    }
    .social__staff-group{
        margin-top: 9px;
    }
    .staff__desc{
        margin-top:9px;
    }
    .col1, .col2{
        width: 201px;
        margin-left: 17px;
    }
    .reserv{
        height: 1006px;
    }
    .reserv-form{
        margin-left: 10px;
    }
    .horarios{
        margin: 0px 106px 19px 0px;
    }
    .map{
        height: 713px
    }
    #map-img {
        margin-left: 42px;
    }
    p.copyright {
        margin: -33px 6px 4px;
    }
    .menur-images{
        height: 188px;
    }
}
@media (min-width: 512px) and (max-width: 523px){
    body {
        overflow-x: hidden;
        }
    #welcome{
        font-size: 48px;
    }
    #titulo{
        font-size: 2.8em;
    }
    .titulo-menu{
        font-size: 11px;
    }
    .precio-menu{
        margin-left: 289px;
    }
    .staff__person{
        margin-left: 55px;
        padding-right: 39px;
    }
    .social__staff-group{
        margin-top: 9px;
    }
    .staff__desc{
        margin-top:9px;
    }
    .col1, .col2{
        width: 201px;
        margin-left: 17px;
    }
    .reserv{
        height: 1000px;
    }
    .reserv-form{
        margin-left: 4px;
    }
    .horarios{
        margin: -3px  0px 12px -100px;
    }
    .map{
        height: 713px
    }
}
@media (min-width: 513px) and (max-width: 551px){
    body {
        overflow-x: hidden;
        }
    .precio-menu{
        margin-left: 276px;
    }
    .staff__person{
        margin-left: 77px;
        padding-right: 39px;
    }
    .col1, .col2{
        width: 201px;
        margin-left: 28px;
    }
    .reserv{
        height: 1000px;
    }
    .reserv-form{
        margin-left: 4px;
    }
    .horarios{
        margin: -3px  0px 12px -100px;
    }
    .map{
        height: 713px
    }
}
@media(min-width: 552px) and (max-width: 575px){
    body {
        overflow-x: hidden;
        }
    .precio-menu{
        margin-left: 326px;
    }
    .staff__person{
        margin-left: 105px;
        padding-right: 93px;
    }
    .col1, .col2{
        width: 211px;
        margin-left: 31px;
    }
    .reserv{
        height: 1000px;
    }
    .horarios{
        margin: -3px  0px 12px -100px;
    }
    .map{
        height: 713px
    }
}
